:root {
  --color-light-grey: #fafafa;
  --color-grey: #f1f1f1;
  --color-raw-sienna: #d87d4a;
  --color-tacao: #fbaf85;
  --color-black: #101010;
  --color-black-background: #000000e6;
  --color-grey-border: #96969633;
  --color-white-50: rgb(125, 125, 125);
  --color-white-75: rgba(255, 255, 255, 0.75);
  --color-grey-button: #4c4c4c;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "manrope", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--color-light-grey);
}

[class*=heading] {
  text-transform: uppercase;
}

.heading-1 {
  font-size: 5.6rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 5.8rem;
  color: var(--color-light-grey);
}

.heading-2 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 4.4rem;
}

.heading-4 {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: 1.15px;
  line-height: 3.6rem;
}

.heading-6 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 2.4rem;
}

.overline {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 10px;
  line-height: 1.9rem;
  text-transform: uppercase;
  color: var(--color-white-50);
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 25px;
  text-transform: uppercase;
}

.color--white {
  color: var(--color-white-75);
}

.color--grey {
  color: var(--color-white-50);
}

.color-orange {
  color: var(--color-raw-sienna);
}

.bold {
  font-weight: 600;
}

.container {
  max-width: 136rem;
  margin: 0 auto;
  padding: 0 9.6rem;
}

.margin-right--big {
  margin-right: 20rem;
}

.margin-right--medium {
  margin-right: 12.5rem;
}

.header-background {
  background-color: var(--color-black);
}

.btn {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s;
}

.btn--1:link,
.btn--1:visited {
  padding: 1.5rem 3rem;
  background-color: var(--color-raw-sienna);
  color: var(--color-light-grey);
}
.btn--1:link:hover,
.btn--1:visited:hover {
  background-color: var(--color-tacao);
}

.btn--2:link,
.btn--2:visited {
  color: var(--color-black);
  padding: 1.5rem 3rem;
  border: 1px solid black;
}

.btn--2:hover,
.btn--2:active {
  color: white;
  background-color: var(--color-black);
  border: 1px solid transparent;
}

.btn--3:link,
.btn--3:visited {
  color: var(--color-light-grey);
  background-color: var(--color-black);
  padding: 1.5rem 3rem;
}

.btn--3:hover,
.btn--3:active {
  background-color: var(--color-grey-button);
}

.btn--shop:link,
.btn--shop:visited {
  color: grey;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.btn--shop:link img,
.btn--shop:visited img {
  margin-left: 1rem;
}

.btn--shop:hover,
.btn--shop:active {
  color: var(--color-raw-sienna);
}

.button {
  background-color: var(--color-raw-sienna);
  border: none;
  color: white;
  padding: 1.5rem 3.4rem;
}

.section-categories {
  margin: 20rem auto 15rem auto;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.section-categories .category-box {
  position: relative;
  width: 100%;
}
.section-categories .category-box:hover .category-img {
  scale: 1.05;
}
.section-categories .category-box .category-img {
  position: absolute;
  height: 110%;
  left: 50%;
  translate: -50% -35%;
  transition: all 0.3s;
}
.section-categories .category-box .category-text {
  background-color: var(--color-grey);
  border-radius: 1rem;
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 3rem;
  gap: 1rem;
}

.section-category {
  background-color: var(--color-black-background);
}
.section-category .heading-2 {
  color: white;
  padding: 9.8rem 0;
  text-align: center;
}

.category-grid {
  margin-block: 16rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 16rem;
  -moz-column-gap: 12.5rem;
       column-gap: 12.5rem;
  align-items: center;
}
.category-grid .product-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.category-grid .product-info .overline {
  margin-bottom: 1.6rem;
}
.category-grid .product-info .heading-2 {
  margin-bottom: 3.2rem;
}
.category-grid .product-info .paragraph {
  margin-bottom: 4rem;
}
.category-grid .zx9-img {
  background: url(/assets/product-zx9-speaker/desktop/image-product.jpg);
}
.category-grid .zx7-img {
  background: url(/assets/product-zx7-speaker/desktop/image-product.jpg);
}
.category-grid .yx1-img {
  background: url(/assets/product-yx1-earphones/desktop/image-product.jpg);
}
.category-grid .image-box {
  flex: 1;
}
.category-grid .image-box img {
  width: 100%;
}

.footer {
  background-color: var(--color-black);
  padding: 7.5rem 9.6rem 4.8rem 9.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr -webkit-max-content -webkit-max-content;
  grid-template-rows: 1fr max-content max-content;
  position: relative;
}
.footer::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 10rem;
  margin-left: 9.6rem;
  background-color: var(--color-raw-sienna);
}
.footer .logo-box {
  margin-bottom: 3.6rem;
  cursor: pointer;
}
.footer .footer-nav__list {
  justify-content: end;
}
.footer .about {
  margin-bottom: 5.6rem;
}
.footer .copyright {
  grid-column: 1;
}
.footer .media-box {
  display: flex;
  gap: 1.6rem;
  grid-row: 2;
  grid-column: 2;
  justify-self: end;
  align-self: center;
}
.footer .media-box > * {
  cursor: pointer;
}

.footer-nav__list {
  display: flex;
  list-style: none;
  gap: 3.4rem;
}
.footer-nav__link:link, .footer-nav__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: var(--color-light-grey);
  transition: all 0.2s;
}
.footer-nav__link:hover, .footer-nav__link:active {
  color: var(--color-raw-sienna);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  border-bottom: 1px solid var(--color-grey-border);
}
.header .logo {
  cursor: pointer;
}

.home-products-section {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}
.home-products-section .ZX9speaker-box {
  background-color: var(--color-raw-sienna);
  height: 56rem;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
.home-products-section .ZX9speaker-box .circle-pattern {
  position: relative;
  right: 10rem;
  top: 0rem;
  width: 72.5%;
}
.home-products-section .ZX9speaker-box .ZX9-speaker-product {
  display: flex;
  position: absolute;
  top: 1rem;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
.home-products-section .ZX9speaker-box .ZX9-speaker-product .ZX9-speaker-img-home {
  width: 35rem;
  align-self: flex-end;
}
.home-products-section .ZX9speaker-box .ZX9-speaker-product .ZX9-speaker-textbox {
  width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
}
.home-products-section .ZX9speaker-box .ZX9-speaker-product .ZX9-speaker-textbox .btn--3 {
  margin-top: 1.6rem;
}
.home-products-section .ZX7speaker-box {
  background: url(/assets/home/desktop/image-speaker-zx7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
  height: 32rem;
  border-radius: 1rem;
}
.home-products-section .ZX7speaker-box .ZX7-speaker-textbox {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
  position: relative;
  top: 50%;
  translate: 0 -50%;
  margin-left: 9.5rem;
}
.home-products-section .YX1earphones-box {
  display: flex;
  gap: 3rem;
  height: 32rem;
  width: 100%;
}
.home-products-section .YX1earphones-box > * {
  border-radius: 1rem;
}
.home-products-section .YX1earphones-box .YX1earphones-image {
  flex: 1;
  background: url(/assets/home/desktop/image-earphones-yx1.jpg);
  background-size: cover;
  background-position-x: center;
}
.home-products-section .YX1earphones-box .YX1earphones-textbox {
  flex: 1;
  background-color: var(--color-grey);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.2rem;
}
.home-products-section .YX1earphones-box .YX1earphones-textbox > * {
  margin-left: 9.5rem;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 3.4rem;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: var(--color-light-grey);
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:active {
  color: var(--color-raw-sienna);
}

.section-location {
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 20rem auto;
  gap: 12.5rem;
  align-items: center;
}
.section-location .location-textbox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.section-location .location-image {
  flex: 1;
}
.section-location .location-image img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.section-product-detail {
  margin-block: 16rem;
}
.section-product-detail .product-row {
  display: flex;
  gap: 6.5rem;
}
.section-product-detail .product-row .product-img {
  flex: 1;
}
.section-product-detail .product-row .product-img img {
  width: 100%;
}
.section-product-detail .product-row .details-box {
  flex: 1;
}

.hero {
  background-color: var(--color-black-background);
}
.hero__text-box {
  display: flex;
  flex-direction: column;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4rem;
}

.container__hero {
  background: url(../assets/home/desktop/image-hero.jpg);
  background-position: center 80%;
  height: min(100vh, 729px);
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */