:root {
	// Colors
	--color-light-grey: #fafafa;
	--color-grey: #f1f1f1;
	--color-raw-sienna: #d87d4a;
	--color-tacao: #fbaf85;
	--color-black: #101010;
	--color-black-background: #000000e6;
	--color-grey-border: #96969633;
	--color-white-50: rgb(125, 125, 125);
	--color-white-75: rgba(255, 255, 255, 0.75);
	--color-grey-button: #4c4c4c;
}
