.section-location {
	display: flex;
	height: max-content;
	margin: 20rem auto;
	gap: 12.5rem;
	align-items: center;

	.location-textbox {
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
	}
	.location-image {
		flex: 1;
		img {
			height: 100%;
			width: 100%;
			border-radius: 1rem;
		}
	}
}
